{{#each blogPosts as |blog|}}
<div>
    <h2> <a href="/blogs/{{blog.id}}">{{blog.title}}</a></h2>
    <h3>by: {{blog.user.username}} on {{blog.date_created}}</h3>
    <p>
        {{blog.content}}
    </p>
</div>
{{/each}}